html {
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-image: url(img/dickinson-background.jpg);
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

p,
h1,
h2,
figcaption,
footer,
tr,
th {
	color: rgba(255, 255, 255, 0.87);
	font-family: garamond, serif;
	padding: 20px 20px 20px 20px;
}

/* blurred box */
main {
	width: min-content;
	height: min-content;
	border-radius: 20px;
	background: inherit;
	backdrop-filter: blur(10px);
}

/* links */
a {
	text-decoration: none;
	color: antiquewhite;
}

a:hover {
	color: red;
}
